{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        // "loose": true,
        // "modules": "commonjs",
        // "debug": true,
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "corejs": 3
      }
    ]
    // "@babel/plugin-syntax-dynamic-import"
  ]
}
