{
  "presets": [
    [
      "@babel/env",
      {
        "modules": "commonjs",
        // "debug": true,
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "corejs": 3
      }
    ],
    "@babel/syntax-dynamic-import"
  ]
}
