# BalmJS build output
.tmp
dist
assets

# Unit Tests
.output
*.zip

# Test Projects
*/styles/sprites
!vue-spa/scripts/assets
!vue-ssr/app/scripts/assets
!vue3/scripts/assets
php/public/build
php/public/web
php/public/_index.html
!php/resources/assets

# Others
balm.env.js
package-lock.json
yarn.lock
