# BalmJS build output
.mp
.tmp
dist
assets

# Unit Tests
.output
*.zip

# Test Projects
*/styles/sprites
!vue/scripts/assets
!vue3/scripts/assets
!vue-ssr/app/scripts/assets
!lib
php/public/build
php/public/web
php/public/_index.html
!php/resources/assets
vue/index.html
vue3/index.html

# Others
yarn.lock
package-lock.json
pnpm-lock.yaml
