.DS_Store
bower_components
node_modules
.tmp
.output
dist
assets
*.zip
*/styles/sprites
!vue-spa/scripts/assets
!vue-ssr/app/scripts/assets
php/public/build
php/public/web
php/public/_index.html
!php/resources/assets
