# shamefully-hoist=true
public-hoist-pattern[]="*deepmerge*"
public-hoist-pattern[]="*flatpickr*"
public-hoist-pattern[]="*material-components-web*"
public-hoist-pattern[]="@material/*"
public-hoist-pattern[]="*quill*"
