{
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "globals": {
    "path": true,
    "gulp": true,
    "$": true,
    "browserSync": true,
    "del": true,
    "webpack": true,
    "BalmJS": true,
    "config": true,
    "logger": true,
    "File": true,
    "Task": true
  },
  "extends": ["eslint:recommended", "xo-space"],
  "rules": {
    "operator-linebreak": [2, "before"],
    "camelcase": [2, { "properties": "never" }]
  }
}
