{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "xo-space"
  ],
  "globals": {
    "path": true,
    "gulp": true,
    "$": true,
    "browserSync": true,
    "reload": true,
    "del": true,
    "webpack": true,
    "BalmJS": true,
    "config": true
  },
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "generator-star-spacing": 0,
    "space-before-function-paren": 0,
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "ignore",
          ":": "ignore"
        }
      }
    ],
    "no-console": 0
  }
}
