{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "quotes": [
      2,
      "single"
    ]
  },
  "extends": [
    "eslint:recommended",
    "xo-space"
  ]
}
