{
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "types/**/*.d.ts",
    "test/**/*.spec.ts"
  ],
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ]
}
