{
  "require": [
    "@babel/register"
  ],
  "include": [
    "lib/**/*.js"
  ],
  "exclude": [
    "node_modules",
    "coverage",
    "test/**/*"
  ],
  "reporter": [
    "lcov",
    "json",
    "text",
    "text-summary"
  ],
  "sourceMap": false,
  "instrument": false
}
