{
  "extension": [
    ".ts"
  ],
  "include": [
    "packages/balm-core/src/**/*.ts",
    "!packages/balm-core/src/config/globals.ts",
    "!packages/balm-core/src/config/env.ts",
    "!packages/balm-core/src/config/spinner.ts",
    "!packages/balm-core/src/tasks/index.ts",
    "!packages/balm-core/src/tasks/private/sprite.ts",
    "!packages/balm-core/src/tasks/private/modernizr.ts",
    "!packages/balm-core/src/tasks/public/server.ts",
    "!packages/balm-core/src/middlewares/index.ts",
    "!packages/balm-core/src/plugins/*.ts",
    "!packages/balm-core/src/utilities/address.ts",
    "!packages/balm-core/src/utilities/cache-core.ts",
    "!packages/balm-core/src/utilities/compiling.ts",
    "!packages/balm-core/src/utilities/detect-port.ts",
    "!packages/balm-core/src/utilities/escape-string-regexp.ts",
    "!packages/balm-core/src/utilities/loading.ts",
    "!packages/balm-core/src/utilities/merge-stream.ts",
    "!packages/balm-core/src/utilities/public-url.ts",
    "!packages/balm-core/src/utilities/replacestream.ts",
    "!packages/balm-core/src/bundler/webpack/rules/file.ts",
    "!packages/balm-core/src/bundler/rollup/build.ts"
  ],
  "exclude": [
    "node_modules/**",
    "coverage/**",
    "packages/balm-core/types/**/*.d.ts",
    "test/**/*.spec.ts"
  ],
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ]
}
