/*@import 'normalize.css';*/
/*@import 'bower_components/normalize-css/normalize.css';*/
@import 'global/_var.css';

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-regular.woff") format("woff")
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial;
  color: var(--primaryColor);
}

img {
  width: 64px;
  height: 64px;
}

#app {
  & a, & img, & span {
    vertical-align: middle;
  }
}

.logo {
  background: url("../images/logo.svg");
}
