/*! license */
:root {
  --primaryColor: #777;
}
@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(//example.com/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: local('Roboto'), local('Roboto-Regular'),
    url(../d/roboto-regular.woff) format('woff');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, Arial;
  color: #777;
  color: var(--primaryColor);
}
img {
  width: 64px;
  height: 64px;
}
#app a,
#app img,
#app span {
  vertical-align: middle;
}
.logo {
  background: url(../c/logo.svg);
}
@supports (pointer-events: auto) {
  .test {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition-property: opacity;
    visibility: visible;
    pointer-events: none;
  }
  .test.is-visible {
    pointer-events: auto;
    opacity: 1;
  }
}
