%svg-common {
	background: url("../c/svg-icon-css.svg") no-repeat;
}

.svg-3d_effects {
	@extend %svg-common;
	background-position: 41.27194435243458% 96.85584338540637%;
}

.svg-3d_effects-dims {
	width: 242.2px;
	height: 219.3px;
}

.svg-connectivity {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-connectivity-dims {
	width: 307.5px;
	height: 231.5px;
}

.svg-css3_styling {
	@extend %svg-common;
	background-position: 49.31836407377706% 53.54536771728749%;
}

.svg-css3_styling-dims {
	width: 222.5px;
	height: 201.5px;
}

.svg-device_access {
	@extend %svg-common;
	background-position: 0 99.97958767095326%;
}

.svg-device_access-dims {
	width: 249.2px;
	height: 235.1px;
}

.svg-multimedia {
	@extend %svg-common;
	background-position: 97.89806795469687% 48.12639821029082%;
}

.svg-multimedia-dims {
	width: 245.6px;
	height: 188.6px;
}

.svg-offline_storage {
	@extend %svg-common;
	background-position: 0 49.60359974287551%;
}

.svg-offline_storage-dims {
	width: 296.1px;
	height: 258.3px;
}

.svg-perfintegration {
	@extend %svg-common;
	background-position: 54.35551156048928% 0;
}

.svg-perfintegration-dims {
	width: 280.28px;
	height: 280.31px;
}

.svg-semantics {
	@extend %svg-common;
	background-position: 99.98809220039125% 0;
}

.svg-semantics-dims {
	width: 258.15px;
	height: 258.15px;
}

