.svg-3d_effects {
	background: url("../img/svg-icon-css.svg") 41.27194435243458% 96.85584338540637% no-repeat;
}

.svg-3d_effects-dims {
	width: 242.2px;
	height: 219.3px;
}

.svg-connectivity {
	background: url("../img/svg-icon-css.svg") 0 0 no-repeat;
}

.svg-connectivity-dims {
	width: 307.5px;
	height: 231.5px;
}

.svg-css3_styling {
	background: url("../img/svg-icon-css.svg") 49.31836407377706% 53.54536771728749% no-repeat;
}

.svg-css3_styling-dims {
	width: 222.5px;
	height: 201.5px;
}

.svg-device_access {
	background: url("../img/svg-icon-css.svg") 0 99.97958767095326% no-repeat;
}

.svg-device_access-dims {
	width: 249.2px;
	height: 235.1px;
}

.svg-multimedia {
	background: url("../img/svg-icon-css.svg") 97.89806795469687% 48.12639821029082% no-repeat;
}

.svg-multimedia-dims {
	width: 245.6px;
	height: 188.6px;
}

.svg-offline_storage {
	background: url("../img/svg-icon-css.svg") 0 49.60359974287551% no-repeat;
}

.svg-offline_storage-dims {
	width: 296.1px;
	height: 258.3px;
}

.svg-perfintegration {
	background: url("../img/svg-icon-css.svg") 54.35551156048928% 0 no-repeat;
}

.svg-perfintegration-dims {
	width: 280.28px;
	height: 280.31px;
}

.svg-semantics {
	background: url("../img/svg-icon-css.svg") 99.98809220039125% 0 no-repeat;
}

.svg-semantics-dims {
	width: 258.15px;
	height: 258.15px;
}

