<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello BalmJS - Vue3</title>
    <link rel="stylesheet" href="%PUBLIC_URL%/styles/main.css" />
  </head>

  <body>
    <div id="app">Loading Vue3 App</div>
    <script src="%PUBLIC_URL%/scripts/vendor/lib.js"></script>
    <script src="%PUBLIC_URL%/scripts/vendor/ui.js"></script>
    <script src="%PUBLIC_URL%/scripts/main.js"></script>
  </body>
</html>
