/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icons2-3d_effects {
  background-image: url(../img/icons2-sprites.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
.icons2-connectivity {
  background-image: url(../img/icons2-sprites.png);
  background-position: -65px 0px;
  width: 64px;
  height: 64px;
}
.icons2-device_access {
  background-image: url(../img/icons2-sprites.png);
  background-position: 0px -65px;
  width: 64px;
  height: 64px;
}
.icons2-multimedia {
  background-image: url(../img/icons2-sprites.png);
  background-position: -65px -65px;
  width: 64px;
  height: 64px;
}
