// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$3d-effects-name: '3d_effects';
$3d-effects-x: 0px;
$3d-effects-y: 0px;
$3d-effects-offset-x: 0px;
$3d-effects-offset-y: 0px;
$3d-effects-width: 32px;
$3d-effects-height: 32px;
$3d-effects-total-width: 98px;
$3d-effects-total-height: 98px;
$3d-effects-image: '../img/icons-sprites.png';
$3d-effects: (0px, 0px, 0px, 0px, 32px, 32px, 98px, 98px, '../img/icons-sprites.png', '3d_effects', );
$connectivity-name: 'connectivity';
$connectivity-x: 33px;
$connectivity-y: 0px;
$connectivity-offset-x: -33px;
$connectivity-offset-y: 0px;
$connectivity-width: 32px;
$connectivity-height: 32px;
$connectivity-total-width: 98px;
$connectivity-total-height: 98px;
$connectivity-image: '../img/icons-sprites.png';
$connectivity: (33px, 0px, -33px, 0px, 32px, 32px, 98px, 98px, '../img/icons-sprites.png', 'connectivity', );
$device-access-name: 'device_access';
$device-access-x: 0px;
$device-access-y: 33px;
$device-access-offset-x: 0px;
$device-access-offset-y: -33px;
$device-access-width: 32px;
$device-access-height: 32px;
$device-access-total-width: 98px;
$device-access-total-height: 98px;
$device-access-image: '../img/icons-sprites.png';
$device-access: (0px, 33px, 0px, -33px, 32px, 32px, 98px, 98px, '../img/icons-sprites.png', 'device_access', );
$multimedia-name: 'multimedia';
$multimedia-x: 33px;
$multimedia-y: 33px;
$multimedia-offset-x: -33px;
$multimedia-offset-y: -33px;
$multimedia-width: 32px;
$multimedia-height: 32px;
$multimedia-total-width: 98px;
$multimedia-total-height: 98px;
$multimedia-image: '../img/icons-sprites.png';
$multimedia: (33px, 33px, -33px, -33px, 32px, 32px, 98px, 98px, '../img/icons-sprites.png', 'multimedia', );
$offline-storage-name: 'offline_storage';
$offline-storage-x: 66px;
$offline-storage-y: 0px;
$offline-storage-offset-x: -66px;
$offline-storage-offset-y: 0px;
$offline-storage-width: 32px;
$offline-storage-height: 32px;
$offline-storage-total-width: 98px;
$offline-storage-total-height: 98px;
$offline-storage-image: '../img/icons-sprites.png';
$offline-storage: (66px, 0px, -66px, 0px, 32px, 32px, 98px, 98px, '../img/icons-sprites.png', 'offline_storage', );
$performance-name: 'performance';
$performance-x: 66px;
$performance-y: 33px;
$performance-offset-x: -66px;
$performance-offset-y: -33px;
$performance-width: 32px;
$performance-height: 32px;
$performance-total-width: 98px;
$performance-total-height: 98px;
$performance-image: '../img/icons-sprites.png';
$performance: (66px, 33px, -66px, -33px, 32px, 32px, 98px, 98px, '../img/icons-sprites.png', 'performance', );
$semantics-name: 'semantics';
$semantics-x: 0px;
$semantics-y: 66px;
$semantics-offset-x: 0px;
$semantics-offset-y: -66px;
$semantics-width: 32px;
$semantics-height: 32px;
$semantics-total-width: 98px;
$semantics-total-height: 98px;
$semantics-image: '../img/icons-sprites.png';
$semantics: (0px, 66px, 0px, -66px, 32px, 32px, 98px, 98px, '../img/icons-sprites.png', 'semantics', );
$styling-name: 'styling';
$styling-x: 33px;
$styling-y: 66px;
$styling-offset-x: -33px;
$styling-offset-y: -66px;
$styling-width: 32px;
$styling-height: 32px;
$styling-total-width: 98px;
$styling-total-height: 98px;
$styling-image: '../img/icons-sprites.png';
$styling: (33px, 66px, -33px, -66px, 32px, 32px, 98px, 98px, '../img/icons-sprites.png', 'styling', );
$3d-effects-2x-name: '3d_effects@2x';
$3d-effects-2x-x: 0px;
$3d-effects-2x-y: 0px;
$3d-effects-2x-offset-x: 0px;
$3d-effects-2x-offset-y: 0px;
$3d-effects-2x-width: 64px;
$3d-effects-2x-height: 64px;
$3d-effects-2x-total-width: 196px;
$3d-effects-2x-total-height: 196px;
$3d-effects-2x-image: '../img/icons-sprites@2x.png';
$3d-effects-2x: (0px, 0px, 0px, 0px, 64px, 64px, 196px, 196px, '../img/icons-sprites@2x.png', '3d_effects@2x', );
$connectivity-2x-name: 'connectivity@2x';
$connectivity-2x-x: 66px;
$connectivity-2x-y: 0px;
$connectivity-2x-offset-x: -66px;
$connectivity-2x-offset-y: 0px;
$connectivity-2x-width: 64px;
$connectivity-2x-height: 64px;
$connectivity-2x-total-width: 196px;
$connectivity-2x-total-height: 196px;
$connectivity-2x-image: '../img/icons-sprites@2x.png';
$connectivity-2x: (66px, 0px, -66px, 0px, 64px, 64px, 196px, 196px, '../img/icons-sprites@2x.png', 'connectivity@2x', );
$device-access-2x-name: 'device_access@2x';
$device-access-2x-x: 0px;
$device-access-2x-y: 66px;
$device-access-2x-offset-x: 0px;
$device-access-2x-offset-y: -66px;
$device-access-2x-width: 64px;
$device-access-2x-height: 64px;
$device-access-2x-total-width: 196px;
$device-access-2x-total-height: 196px;
$device-access-2x-image: '../img/icons-sprites@2x.png';
$device-access-2x: (0px, 66px, 0px, -66px, 64px, 64px, 196px, 196px, '../img/icons-sprites@2x.png', 'device_access@2x', );
$multimedia-2x-name: 'multimedia@2x';
$multimedia-2x-x: 66px;
$multimedia-2x-y: 66px;
$multimedia-2x-offset-x: -66px;
$multimedia-2x-offset-y: -66px;
$multimedia-2x-width: 64px;
$multimedia-2x-height: 64px;
$multimedia-2x-total-width: 196px;
$multimedia-2x-total-height: 196px;
$multimedia-2x-image: '../img/icons-sprites@2x.png';
$multimedia-2x: (66px, 66px, -66px, -66px, 64px, 64px, 196px, 196px, '../img/icons-sprites@2x.png', 'multimedia@2x', );
$offline-storage-2x-name: 'offline_storage@2x';
$offline-storage-2x-x: 132px;
$offline-storage-2x-y: 0px;
$offline-storage-2x-offset-x: -132px;
$offline-storage-2x-offset-y: 0px;
$offline-storage-2x-width: 64px;
$offline-storage-2x-height: 64px;
$offline-storage-2x-total-width: 196px;
$offline-storage-2x-total-height: 196px;
$offline-storage-2x-image: '../img/icons-sprites@2x.png';
$offline-storage-2x: (132px, 0px, -132px, 0px, 64px, 64px, 196px, 196px, '../img/icons-sprites@2x.png', 'offline_storage@2x', );
$performance-2x-name: 'performance@2x';
$performance-2x-x: 132px;
$performance-2x-y: 66px;
$performance-2x-offset-x: -132px;
$performance-2x-offset-y: -66px;
$performance-2x-width: 64px;
$performance-2x-height: 64px;
$performance-2x-total-width: 196px;
$performance-2x-total-height: 196px;
$performance-2x-image: '../img/icons-sprites@2x.png';
$performance-2x: (132px, 66px, -132px, -66px, 64px, 64px, 196px, 196px, '../img/icons-sprites@2x.png', 'performance@2x', );
$semantics-2x-name: 'semantics@2x';
$semantics-2x-x: 0px;
$semantics-2x-y: 132px;
$semantics-2x-offset-x: 0px;
$semantics-2x-offset-y: -132px;
$semantics-2x-width: 64px;
$semantics-2x-height: 64px;
$semantics-2x-total-width: 196px;
$semantics-2x-total-height: 196px;
$semantics-2x-image: '../img/icons-sprites@2x.png';
$semantics-2x: (0px, 132px, 0px, -132px, 64px, 64px, 196px, 196px, '../img/icons-sprites@2x.png', 'semantics@2x', );
$styling-2x-name: 'styling@2x';
$styling-2x-x: 66px;
$styling-2x-y: 132px;
$styling-2x-offset-x: -66px;
$styling-2x-offset-y: -132px;
$styling-2x-width: 64px;
$styling-2x-height: 64px;
$styling-2x-total-width: 196px;
$styling-2x-total-height: 196px;
$styling-2x-image: '../img/icons-sprites@2x.png';
$styling-2x: (66px, 132px, -66px, -132px, 64px, 64px, 196px, 196px, '../img/icons-sprites@2x.png', 'styling@2x', );
$icons-spritesheet-width: 98px;
$icons-spritesheet-height: 98px;
$icons-spritesheet-image: '../img/icons-sprites.png';
$icons-spritesheet-sprites: ($3d-effects, $connectivity, $device-access, $multimedia, $offline-storage, $performance, $semantics, $styling, );
$icons-spritesheet: (98px, 98px, '../img/icons-sprites.png', $icons-spritesheet-sprites, );
$icons-spritesheet-2x-width: 196px;
$icons-spritesheet-2x-height: 196px;
$icons-spritesheet-2x-image: '../img/icons-sprites@2x.png';
$icons-spritesheet-2x-sprites: ($3d-effects-2x, $connectivity-2x, $device-access-2x, $multimedia-2x, $offline-storage-2x, $performance-2x, $semantics-2x, $styling-2x, );
$icons-spritesheet-2x: (196px, 196px, '../img/icons-sprites@2x.png', $icons-spritesheet-2x-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$3d-effects-group-name: '3d_effects';
$3d-effects-group: ('3d_effects', $3d-effects, $3d-effects-2x, );
$connectivity-group-name: 'connectivity';
$connectivity-group: ('connectivity', $connectivity, $connectivity-2x, );
$device-access-group-name: 'device_access';
$device-access-group: ('device_access', $device-access, $device-access-2x, );
$multimedia-group-name: 'multimedia';
$multimedia-group: ('multimedia', $multimedia, $multimedia-2x, );
$offline-storage-group-name: 'offline_storage';
$offline-storage-group: ('offline_storage', $offline-storage, $offline-storage-2x, );
$performance-group-name: 'performance';
$performance-group: ('performance', $performance, $performance-2x, );
$semantics-group-name: 'semantics';
$semantics-group: ('semantics', $semantics, $semantics-2x, );
$styling-group-name: 'styling';
$styling-group: ('styling', $styling, $styling-2x, );
$icons-retina-groups: ($3d-effects-group, $connectivity-group, $device-access-group, $multimedia-group, $offline-storage-group, $performance-group, $semantics-group, $styling-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
