/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.img-icon-3d_effects {
  background-image: url(../c/img-icon-sprite.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
.img-icon-connectivity {
  background-image: url(../c/img-icon-sprite.png);
  background-position: -65px 0px;
  width: 64px;
  height: 64px;
}
.img-icon-device_access {
  background-image: url(../c/img-icon-sprite.png);
  background-position: 0px -65px;
  width: 64px;
  height: 64px;
}
.img-icon-multimedia {
  background-image: url(../c/img-icon-sprite.png);
  background-position: -65px -65px;
  width: 64px;
  height: 64px;
}
.img-icon-offline_storage {
  background-image: url(../c/img-icon-sprite.png);
  background-position: -130px 0px;
  width: 64px;
  height: 64px;
}
.img-icon-performance {
  background-image: url(../c/img-icon-sprite.png);
  background-position: -130px -65px;
  width: 64px;
  height: 64px;
}
.img-icon-semantics {
  background-image: url(../c/img-icon-sprite.png);
  background-position: 0px -130px;
  width: 64px;
  height: 64px;
}
.img-icon-styling {
  background-image: url(../c/img-icon-sprite.png);
  background-position: -65px -130px;
  width: 64px;
  height: 64px;
}
