@use 'global-scss/index' as index;

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial;
  color: index.$primaryColor;
}

img {
  width: 64px;
  height: 64px;
}

#app {
  a,
  img,
  span {
    vertical-align: middle;
  }
}

.logo {
  background: url('../images/logo.svg');
}

.test {
  @supports (pointer-events: auto) {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition-property: opacity;
    visibility: visible;
    pointer-events: none;

    &.is-visible {
      pointer-events: auto;
      opacity: 1;
    }
  }
}
